{% extends 'product/base.html' %}

{% load static %}
{% block content %}
<head>
    
    <title>Checkout</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    
</head>
    
<div class="row" style="margin-top: 30px;">
    <div class="col-6">
        <div class="checkout-cart">
            <h4>Kiểm tra lại đơn hàng:</h4>
            {% include 'product/table_product.html' %}
            <br>
            <h5 >Tổng sản phẩm: {{order.quantity}} </h5>
            <h5>Tổng tiền: {{order.total_price}}</h5>
        </div>
            
    </div>
    <div class="col-6">
        <div class="checkout-infor" id="form_" style="margin-bottom: 50px;">
        
            <form class="form-check-out" action="{% url 'product:order_list' %}" method="post">
                {% csrf_token %}
                <h4>Nhập thông tin khách hàng:</h4>
                
                    {{form_user.as_p}}
                
                <input type="hidden" name="order_id" value="{{order.id}}">
                <button class="btn-checkout" type="submit" >Đặt hàng</a></button>
            
                <button class="btn-checkout" id="btn-turnback" type="button" onclick="show_cart1()">Quay lại giỏ hàng </button>
                <script>
                    function show_cart1()
                    {
                        location.assign("{% url 'product:show_cart'  %}");
                    }
                </script>
            </form>
        </div>
    </div>
 
</div>
{% endblock %}
