{% extends 'product/base.html' %}

{% block content %}
    <h3>Các sản phẩm thuộc: {{loaisp.name}}</h3> 

    <section class="wrapper">
        <div class="products">
           
            <ul> 
                {% for i in sanpham %}
                <li class="main-product">
                    <div class="img-product">
                        <img src="{{i.image.url}}" alt="">
                    </div>
                    <div class="content-product">
                        <h3 class="content-product-name"><a href ="{% url 'product:infor' i.id %}">{{i.title}}</a></h3>
                        <div class="content-product-details">
                            <div class="price">
                                <span class="money">{{i.cost}}</span>
                            </div>
                            <div class="discount">
                                <div class="percent">{{i.discount}}</div>
                            </div>
                            <div class="discountcost">
                                <div class="percent">{{i.discount_cost}}</div>
                            </div>
                            <button type="button" class="btn btn-cart">Thêm vào</button>

                        </div>
                    </div>
                </li>
                {% endfor %}              
            </ul>
            
        </div>
    </section>
    
{% endblock %}