{% extends 'product/base.html' %}
{% load static %}
<head>
   
    
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
</head> 
{% block content %}

<div class="index-main-content" >
    <h2>Danh mục sản phẩm</h2>
    <div  class="category">
        <ul>
            {% for i in loaisp %}
            <div class="category-content">
                <a href ="{% url 'product:detail' i.id %}"><img style="width:120px;height:150px" src="{{i.image.url}}"></a>
                <li><a href ="{% url 'product:detail' i.id %}">{{i.name}}</a></li>
            </div> 
            {% endfor %}   
        </ul>
    </div>
</div>
<div style="width: 85%;margin-left: auto;margin-right: auto;margin-top: 50px;">
    <h2>Danh mục sản phẩm</h2>
    <div style="padding: 0;"  class="product-select">
        <ul style="padding: 0;">
            {% for i in loaisp %}
            <li class="cat-content" >
                <div style="width: 100%;height: 50px;background-color:#66ffff ;font-size: 24px;border-radius: 5px;" class="cat-content-head">
                    {{i.name}}
                </div>
            <div class="cat-content-body" style="width:100%; margin-bottom:30px;background-color: #fff;padding-top: 10px;">
                <ul style="display:flex; justify-content:space-between;margin: 0 20px">
                    {% for x in i.products.all|slice:":5" %}
                        <div style="text-align:center" >
                            <a href ="{% url 'product:information' x.id %}"><img style="width:120px;height:150px" src="{{x.image.url}}"></a>
                            <li><a href ="{% url 'product:information' x.id %}">{{x.title}}</a></li>
                            <li>{{x.cost}}</li>
                            <li>{{x.discount_cost}}</li>
                            
                        </div>
                    {% endfor %}
                </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div>


{% endblock %}
