{% extends 'product/base.html' %}
{% load static %}
{% block content %}

<br>
{% for i in message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{i}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<br>
<div class="row">
    <div class="col-6">
        <div class="product-image">
            <img src="{{ sp.image.url }}">
            
        </div>
    </div>
    <div class="col-6">
        <div class="product-information">
            <h4>{{sp.title}}</h4>
            <h5>Tác giả: {{information.author}}</h5>
            <br>
            <h4 style="display:inline-block ;" >{{sp.discount_cost}} </h4> <h4 style ="text-decoration: underline; display: inline-block;margin-right: 20px;">đ</h4>
            <h5 style ="display:inline-block; text-decoration: line-through;">{{sp.cost}} </h5> <h5 style ="text-decoration: underline; display: inline-block;margin-right: 20px">đ</h5>
            <h5 style="display:inline-block;font-size: 20px; " >-{{sp.discount}} %</h5>
            </br>
            
            <button type="button" class="btn-add-cart"><a style="text-decoration: none; color: #fff;" href="{% url 'product:add-cart' sp.id %}">Thêm vào giỏ hàng</button></a> 
           
        </div>
    </div>
</div>
<br>
<h5>Thông tin chi tiết:</h5>
<div>
    <table class="tb-description">
        <tbody>
            <tr>
                <td>Nhà xuất bản: </td>
                <td>{{information.publisher}}</td>
            </tr>
            <tr>
                <td>Số trang: </td>
                <td>{{information.pages}}</td>
            </tr>
            <tr>
                <td>Mô tả: </td>
                <td>{{information.description}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
<br>

{% endblock %}
