{% extends 'product/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>
<br>

<br>
<div class="row">
    <div class="col-6">
        <div class="product-image">
            <img src="{{ sp.image.url }}">
            
        </div>
    </div>
    <div class="col-6">
        <div class="product-information">
            <h4>{{sp.title}}</h4>
            <h5>Tác giả: {{sp.author}}</h5>
            {{sp.rating}}/5 ({{sp.product_review.all.count}} đánh giá)
            <br>
            <br>
            <h4 style="display:inline-block ;" >{{sp.discount_cost}} </h4> <h4 style ="text-decoration: underline; display: inline-block;margin-right: 20px;">đ</h4>
            <h5 style ="display:inline-block; text-decoration: line-through;">{{sp.cost}} </h5> <h5 style ="text-decoration: underline; display: inline-block;margin-right: 20px">đ</h5>
            <h5 style="display:inline-block;font-size: 20px; " >-{{sp.discount}} %</h5>
            </br>
            
            <button type="button" class="btn-add-cart" onclick="add_success()"><a style="text-decoration: none; color: #fff;" href="{% url 'product:add_to_cart' sp.id %}">Thêm vào giỏ hàng</button></a> 
            <script>
                function add_success() {
                    alert('Thêm vào giỏ hàng thành công !');
                    
                }
            </script>
            
        </div>
        <br>
        <br>
        <h5>Thông tin chi tiết:</h5>
        <div>
            <table class="tb-description">
                <tbody>
                    <tr>
                        <td>Nhà xuất bản: </td>
                        <td>{{sp.publisher}}</td>
                    </tr>
                    <tr>
                        <td>Số trang: </td>
                        <td>{{sp.pages}}</td>
                    </tr>
                    <tr>
                        <td>Mô tả: </td>
                        <td>{{sp.description}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-6">
    
    {% if request.user.is_authenticated %}
        {% if is_review %}
        <h4>Đánh giá sản phẩm:</h4>
        <form action= "{% url 'product:information' sp.id %}", method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn-add-review" type="submit">Lưu</button>
        </form>
        {% else %}
        <div class="alert alert-info" role="alert">
            <strong>{{message}}</strong>
        </div>   
        {% endif %}
    {% endif %}
</div>
</div>

<br>
<br>
<h4>Xem đánh giá:</h4>

    <div>
        <table class="tb-review">
            {% for i in sp.product_review.all %}
            <tr>
                <td id="name-time" style="width:30%;">
                    <strong>{{request.user.last_name}}</strong><br>
                    {{i.created_time}}
                </td>
                <td style="width:70%;">
                    <strong>Đánh giá: </strong>{{i.rating}}/5<br>
                    {{i.review}}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        
        
    </div>
<br>
<br>

{% endblock %}
