{% extends 'product/base.html' %}
{% block content %}
    <div class="sidebar">
        {%for i in loaisp%}
        <a class="active" href="{% url 'product:product_select_main' i.id  %}">{{i.name}}</a>
        {% endfor%}
    </div>
    <aside class="product-content-list" style="margin:100px 0 0 300px">
        <h1 style="margin-bottom:50px">Các sản phẩm thuộc: {{i.id}}</h1>
        <div style="display:flex" >
            {% for i in page_obj %}
            <div class="main-product" style="text-align:center;" >
                <div class="img-product">
                    <img style="width:150px;height:200px" src="{{i.image.url}}" alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-name"><a href ="{% url 'product:infor' i.id %}">{{i.title}}</a></h3>
                    <div class="content-product-details">
                        <div class="price">
                            <span class="money">{{i.cost}}</span>
                        </div>
                        <div class="discount">
                            <div class="percent">{{i.discount}}</div>
                        </div>
                        <div class="discountcost">
                            <div class="percent">{{i.discount_cost}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </br>
        {% if page_obj %}
            <nav style="background-color: white;" aria-label="Page navigation example">
                <ul class="pagination">
                {{page_obj.paginator.number_page}}
                {% if page_obj.has_previous %}
                
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number }}">trước</a>
                    </li>
                {% endif %}
                {%for i in nums %}
                    <li class="page-item"><a href="?page={{forloop.counter}}" class="page-link">{{forloop.counter}}</a>
                </li>
                {% endfor%}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"href="?page={{page_obj.next_page_number}}">sau</a>
                </li>
                <li class="page-item">
                    <a class="page-link"href="?page={{page_obj.paginator.num_pages}}">Last &raquo</a>
                </li>
                {% endif %}    
                </ul>
            </nav>
        {% endif %}
    </aside>
   

{% endblock %}